body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family:  Larsseit-Bold, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3d3d3c;
  color: white;
  height: 20px;
  padding: 20px 85px;
}

#login-position, #contact-position {
  padding: 10rem;
}



#home-page-header {
  margin-top: 10vh;
  
}


.hover-effect {
  width:0%;
  transition:width 1s;
  /* height:1px; */
  /*override au cas par cas sur bottom et couleur de ligne*/
  bottom:-1px;
  border-bottom:1px solid #bfbfbf;
}


.hover-effect-sub:hover {
  color:grey
}


.hover-effect:hover {
  max-width: fit-content;
  width:25%;
  color:grey
}

.no-border {
  border: none;
}

.text-muted-strong {
  color: black;
  font-weight: bold;  
  white-space: nowrap;
  
}

.text-muted-strong:hover {
  color: black;
 }

 